.portfolio{
    padding: 128px 0 138px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title-wrapper{
        position: relative;
        max-width: 350px;
        &::before{
            position: absolute;
            content: '';
            display: block;
            border: 1px solid #f32323;
            position: absolute;
            z-index: -1;
            width: 291px;
            height: 164px;
            top: -25px;
            left: 90px;
        }
    }
    &__title{
        background: #fff;
        font-size: 54px;
        line-height: 50px;
        margin-bottom: 135px;
    }
    &__slider-wrapper{
        max-width:80%;
        margin: 0 auto;
        padding:0px 20px;
        position: relative;
    }

    .swiper-slide{
        display: flex;
      
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .portfolio__slider-item{
        position: relative;
        img{
            display: block;
            max-width:100%;
            height: auto;
        }
        
    }
    &__slider-item__mask{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: rgba(243, 35, 35, 0.78);
        width:100%;
        height: 100%;
        opacity: 0;
        transition: .5s;
        p{
            font-size: 54px;
            color: #fff;
            margin-bottom: 24px;
            z-index: 10;
        }
        a{
            text-decoration: none;
            z-index: 10;
            padding: 10px 33px;
            color: #fff;
            border: 1px solid #fff;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
        &:hover{
            opacity: 1;
        }
    }


    .swiper-button-next{
        right: -50px;
        outline: none;
        background: #000;
        border-radius: 100px;
        width:50px;
        height: 50px;
        color:#fff;
        &::after{
            content:'';
            background: url('../assets/img/portfolio/arrows.png') no-repeat right center;

            min-width: 48px;
            min-height: 22px;

        }
    }
    .swiper-button-prev{
        left: -50px;
        outline: none;
        background: #000;
        border-radius: 100px;
        width:50px;
        height: 50px;
        color:#fff;
        &::after{
            content:'';
            background: url('../assets/img/portfolio/arrows.png') no-repeat left center ;
            

            min-width: 48px;
            min-height: 22px;

        }
    }
}